<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InstagramTutorial.Properties.Settings.ınstaConnectionString"
            connectionString="Data Source=DESKTOP-SDVG61S\SQLEXPRESS;Initial Catalog=ınsta;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>